{% extends 'base.html' %}
{% block content %}
<div class="breadcrumb-section breadcrumb-bg p-5">

	</div>
<div class="card-body">
    <h4 class="text-dark text-center">Add New Category</h4>
    <div class="billing-address-form">
    <form method="POST" enctype="multipart/form-data">
         {% csrf_token %}
         <label>New Category</label>
        <p><input type="text" placeholder="Category" name="n"></p>
         <label>Description</label>
        <p><textarea  placeholder="Description" name="d"></textarea></p>
        <label>Upload Image</label>
        <p><input type="file" placeholder="image" name="i"></p>
 <div class="">
            <input type="submit" class="boxed-btn btn-lg mx-2 mt-3" value="Add">
            <input type="submit" class="bordered-btn btn-lg mx-2 mt-3" value="Cancel" >
 </div>
    </form>
</div>
</div>
{% endblock %}