{% extends 'base.html' %}
{% block content %}
	<div class="breadcrumb-section breadcrumb-bg p-5">
	</div>
<div class="container p-4">
    <h1 class="text-center orange-text">Log in</h1>
    <form action="" method="POST" class=" breadcrumb-bg p-4 mx-auto rounded" enctype="multipart/form-data" style="
    /* border-radius: 15px; */
    max-width: 527px;
    background: #374b56;
">
        {% csrf_token %}
        <div class="mb-3">
            <input class="form-control p-3" required type="text" placeholder="Username" aria-label="Username" name="u">
        </div>
        <div class="mb-3">
            <input class="form-control p-3" required type="password" placeholder="Password" aria-label="Password" name="p">
        </div>
        <div class="text-center">
            <input type="submit" class="boxed-btn btn-lg mx-2 mt-3" value="Log In">
            <input type="submit" class="bordered-btn btn-lg mx-2 mt-3" value="cancel">
        </div>
        <div class="text-center mt-3">
            <a href="#" class="text-muted">Forgot your password?</a>
        </div>
    </form>
</div>
{% endblock %}
