{% extends 'base.html' %}
{% block content %}
	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg p-5">

	</div>
	<!-- end cart -->
<div class="checkout-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="checkout-accordion-wrap">
						<div class="accordion" id="accordionExample">
						  <div class="card single-accordion">
						    <div class="card-header" id="headingOne">
						      <h5 class="mb-0">
						        <button class="btn btn-link" type="button" aria-expanded="true" aria-controls="collapseOne">
						          Billing Address
						        </button>
						      </h5>
						    </div>

						    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
						      <div class="card-body">
						        <div class="billing-address-form">
						        	<form method="POST" enctype="multipart/form-data">
										{% csrf_token %}
						        	<p><textarea id="bill"  style="height:87px;"cols="10" rows="5" placeholder="Address" name="ad"></textarea></p>
						        		<p><input type="text" placeholder="Phone" name="ph"></p>
										<p><input type="text" placeholder="Pin" name="pi"></p>
										<div class="cart-buttons">

							 <div class="text-center">
            <input type="submit" class="boxed-btn btn-lg mx-2 mt-3" value="Place Order">
            <input type="submit" class="bordered-btn btn-lg mx-2 mt-3" value="Cancel" >
        </div>
						</div>


						        	</form>
						        </div>
						      </div>
						    </div>
						  </div>
<!--						  <div class="card single-accordion">-->
<!--						    <div class="card-header" id="headingTwo">-->
<!--						      <h5 class="mb-0">-->
<!--						        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">-->
<!--						          Shipping Address-->
<!--						        </button>-->
<!--						      </h5>-->
<!--						    </div>-->
<!--						    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">-->
<!--						      <div class="card-body">-->
<!--						        <div class="shipping-address-form">-->
<!--						        	<p>Your shipping address form is here.</p>-->
<!--						        </div>-->
<!--						      </div>-->
<!--						    </div>-->
<!--						  </div>-->
<!--						  <div class="card single-accordion">-->
<!--						    <div class="card-header" id="headingThree">-->
<!--						      <h5 class="mb-0">-->
<!--						        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">-->
<!--						          Card Details-->
<!--						        </button>-->
<!--						      </h5>-->
<!--						    </div>-->
<!--						    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">-->
<!--						      <div class="card-body">-->
<!--						        <div class="card-details">-->
<!--						        	<p>Your card details goes here.</p>-->
<!--						        </div>-->
<!--						      </div>-->
<!--						    </div>-->
<!--						  </div>-->
						</div>

					</div>
				</div>


			</div>
		</div>
	</div>
	<!-- end check out section -->
{% endblock %}